<div class="gallery-container">
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <div class="gallery-img" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/gallery/{{ project.folder }}square.jpg)"></div>
  <!-- <div>item</div>
  <div>item</div>
  <div>item</div>
  <div>item</div>
  <div>item</div>
  <div>item</div>
  <div>item</div>
  <div>item</div>   -->
</div>